html, body {
	height: 100%;
	margin: 0;
	background: #5b5b5b;
	font-family: 'Titillium Web', sans-serif;
	color: #e8e9d9;
}
h1{
	margin-top: 40px;
	font-size: 60px;
}
h2{
	margin-top: 15px;
	font-size: 30px;
}
h3{
	font-size: 22px;
	margin-bottom: 5%;
}

#pageFull{
	width:100%;
	height: 100%;
}
ul{
	position: fixed;
	margin-top: 100px;
	background: rgba(150,200,250,0.5);
    border-radius: 0 10px 10px 0;
	border: 1px solid black;
}
.last-clicked{
	box-shadow: 0px 0px 5px 3px #e8e9d9;
}
ul li{
	font-size: 40px;
	margin: 15px 0;
	padding: 0 15px;
}
ul li a{
	color: #e8e9d9;
	text-decoration: none;
	display: block;
	padding: 30px 0;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-duration:0.1s;
	transition-duration: 0.1s;
}

@keyframes hvr-push {
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
/* mouse over link */
ul li a:hover{
	-webkit-transform: scale(1.1);	  
	transform: scale(1.1);	  
	padding-right: -80px;	  
	-webkit-touch-callout: none;	  
	-webkit-user-select: none;    	     	  
	-moz-user-select: none;    	 
	 -ms-user-select: none;   		 
	 user-select: none;	  			 
	 cursor: pointer;
}
 /* selected link */
ul li a:active{
	-webkit-animation-name: hvr-push;
	animation-name: hvr-push;  
	-webkit-animation-duration: 0.3s;  
	animation-duration: 0.3s;  
	-webkit-animation-timing-function: linear;  
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;

} 
#navbarContent{
	height: 100%;
	position: relative;
	min-height: 400px;
	z-index: 50;
	overflow: auto;
	overflow-x: hidden;
	margin-bottom:50px;
}
#navbarContent img{
	margin-top: 20px;
	border-radius: 70px;
	box-shadow: 0px 0px 13px 7px #234873;
}
#pageContent{
	height: 100%;
	display: block;
	text-align: center;
	position: relative;
}

#aboutPage{
	color: #e8e9d9;
	height: auto;
    min-height: 100%;	
	position:relative;
	font-size: 20px;
	overflow: hidden;
	background-color: #2f4f4f;
	background-image: url("../img/rocket.jpg");
	background-position: bottom;
    box-shadow: inset 0 0 0 1000px rgba(30,50,60,.1);
	text-align: center;
}
#technologies-known{
	margin-top:25px;
	margin-bottom: 100px;
}
.lang{
	margin-bottom: 15px;
}
.lang > p{
	font-size: 30px;
	margin-left: 45%;
	text-align: left;
}

#technologies-known > p:first-child{
	margin-bottom: 20px;
}
.skills-depth{
	text-align: left;
	margin-left: 250px;
}
#quicklinks{
	width: 350px;
	border-top: 5px double #0f1340;
	padding-top: 10px;
	margin: 0 auto;
	display:none;
}
#quicklinks a{
	display: inline-block;
}
#quicklinks a *{
	margin: 10px 10px;
	cursor: pointer;
}
#projectsPage {
	height: 100%;
	color: #e8e9d9;
	background: #03141f;
	background-image: url("../img/backgroundProjects.png");
	background-position: center;
	z-index: 5;
	overflow: auto;
	text-align: center;
}
.sourceIcons{
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
}
#contactPage{
	width:100%;
	float: left;
	background: url(../img/Gray-plain-website-background.jpg);
	text-align: center;
}
#contactPage h2{
	width: 60%;
	margin: 0 auto;
	font-size: 45px;
}
#send-outcome{
	display: block;
	font-size: 20px;
	height: 20px;
	margin-bottom: 10px;
}
.box-rotate {
  -webkit-animation: spinAndZoom 1s 1;
}
div{
  transform-origin: bottom left;
  transform-style: flat;
}

@-webkit-keyframes spinAndZoom {
		100% {
			-webkit-transform: translateY(100%);
		}
}

.page-contents{
	width: 100%;
	margin-top: 40px;
	margin-bottom: 50px;
	float: left;
}
.centered{
	width: 500px;
	display: inline-block;
}
.row{
	width: 80%;
	margin: 0 auto;
}
.st-item, .nd-item{
	height: 330px;
	width: 588px;
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
	margin-left: 1%;
	margin-right: 1%;
	background-clip: padding-box;
	border: 4px solid rgba(255,255,255,.2);
	border-radius: 3px;
	box-shadow:
		0 0 1px rgba(255,255,255,.8),
		0 0 3px rgba(0,0,0,.8),
		1px 1px 0 rgba(0,0,0,.8) inset,
		-1px -1px 0 rgba(0,0,0,.8) inset;
}
.inside{
	width: 100%;
	height: 100%;
	background-color: rgba(31, 37, 42, 0.78);
}
.translate-50{
		transform: translateY(50%);
}
.translate-300{
		transform: translateY(300%);
}
.inside img:not(.show-small){
	width: 50%;
	max-height: 100%;
	max-width: 100%;
	float: left;
	display:inline-block;
}
.enlarge:hover{
	-webkit-animation-name: inside-img-show;
	animation-name: inside-img-show;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.show-small{
	display: none;
	float: left;
}
.project-description{
	width: 50%;
	height: 100%;
	display: inline-block;
	position: relative;
}
.project-description > *:not(:first-child){
	margin-top:10px;
	margin-left: 15px;
	margin-right: 15px;
}
.technologies span{
	background: #025059;
	display: inline-block;
	margin: 10px 5px;
	padding: 5px 8px;
	border-radius:15px;
}
@keyframes inside-img-show {
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
@keyframes shake{
	0%{
		transform: rotate(0);
	}
	25%{
		transform: rotate(15deg);
	}
	75%{
		transform: rotate(-15deg);
	}
	100%{
		transform: rotate(0);
	}
}
#sourceRef:hover{
	-webkit-animation-name: shake;
	animation-name: shake;  
	-webkit-animation-duration: 0.15s;  
	animation-duration: 0.15s;  
	-webkit-animation-timing-function: linear;  
	animation-timing-function: linear;
	-webkit-animation-iteration-count:  3;
	animation-iteration-count: 3;
}
.to-scroll{
	float: left;
}
.testclass{
	transform: translateX(-190px); 
	padding-right:50px;
}
.testclass:hover{
	transform: translateX(0px);
	padding-right: 0;
}
#contact-form{
	display:inline-block;
	vertical-align: top;
	text-align: left;
}
#contact-form *{
	display: block;
	width: 450px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-size: 25px;
}
#submit{
	position: relative;
	border: none;
    color: white;
    height: 50px;
    font-weight: 700;
    cursor: pointer;
	overflow: hidden;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.5);
    background: linear-gradient(#6cc55a 0,#317d1c 100%);
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s
}
#submit:after {
    content: "";
    background: #6cde4f;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

#submit:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
#form, #contact-links{
	min-width: 40%;
	display: inline-block;
	vertical-align: top;
}
#form{
	float: left;
	margin-left: 10%;
}
#contact-links{
	height: 300px;
	margin-right: 10%;
}
.contacts:hover{
	cursor: pointer;
	-webkit-animation-name: wobble-skew;
	animation-name: wobble-skew;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
  	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}
.contacts{
	margin: 0 20px;
	vertical-align: middle;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
    -webkit-transform: translateZ(0);
	transform: translateZ(0);
}
@keyframes wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }

  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }

  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }

  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

@media screen and (max-width: 1024px), screen and (max-height: 660px) {
    #navbar{
		display: none;
    }
	#pageContent{
		margin-left: 0;
	}
	#pageContent{
		overflow: auto;
	}
	#aboutPage{
		position: initial;
		overflow: hidden;
	}
	#projectsPage{
		position: initial;
	}
	#contactPage{
		position: initial;
	}

	.inside img:hover{
		-webkit-animation-name: none !important;
		animation-name: none !important;
	}

}
@media screen and (max-width: 1250px){
	#form{
		float:none;
		margin-left: 0;
		display: block;
	}
	#contact-form{
		width: 90%;
	}
	#contact-form *{
		margin: 0 auto;
	}
	#contact-links{
		margin-right: 0;
		display: block;
		height: 250px;
	}
}
@media screen and (max-width: 1024px){
	#contactPage h2{
		font-size: 25px;
		width: 100%;
	}
}
@media screen and (max-width: 640px){
	.full-width a:first-child:not(#hc){
		display: none;
	}
	.show-small{
		display: inline-block;
	}
	.centered{
		width: 400px;
	}
	.st-item, .nd-item{
		height:auto;
		width: auto;
	}
	.inside{
		padding: 10px 0;
	}
	.inside img{
		max-height:50%;
		float: none !important;
	}
	.full-width{
		padding-top: 0;
	}
	.full-width img{
		width: 100% !important;
	}
	.project-description{
		height: 50%;
		width: 100%;
	}
	.technologies{
		margin-bottom: 100px;
	}
	#contactPage h2{
		width: 100%;
		font-size: 20px;
	}
	.skills-depth{
		margin-left: 200px;
	}
	#contact-form *{
		width: 90%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 375px) {
	.centered{
		width:275px;
	}
	.lang > p{
		margin: 0 auto;
		text-align: center;
	}
	.skills-depth{
		margin: 0 auto;
		text-align: center;
	}
	#quicklinks{
		width: auto;
	}
	#send img{
		height: 48px;
		width: 32px;
	}
}